

    <div class="errorPage">
        <div class="genericError">BİR SORUN VAR GİBİ GÖRÜNÜYOR</a></div>
        
        <div class="indexLink"><a href="/">ANA SAYFAYA GİTMEK İÇİN TIKLAYIN</a></div>
    </div>