<script defer src="/javascripts/exerciseListGenerator.js"></script>

<div class="temporaryFormDisplay">EGZERSİZ LİSTESİ YÜKLENİYOR</div>

<div class="exerciseForm">
	<form method="POST" action="/{{ day }}/add">
		<div>
			<label for="exerciseName">EGZERSİZ ADI</label>

			<input type="text" required placeholder="Gerekli" list="exercisesEntryList" name="exerciseName" value="">

			<datalist id="exercisesEntryList"></datalist>
		</div>
		
		<br>

		<div>
			<label for="exerciseWeight">EGZERSİZ AĞIRLIĞI (KG)</label>

			<input type="number" min="0" placeholder="Gerekli - 0.01 Adım" step="0.01" required name="exerciseWeight">
		</div>
		
		<br>

		<div>
			<label for="exerciseSets">SET SAYISI</label>

			<input type="number" min="0" placeholder="Gerekli" required name="exerciseSets">
		</div>
		
		<br>

		<div>
			<label for="exerciseReps">TEKRAR SAYISI</label>

			<input type="number" min="0" placeholder="Gerekli" required name="exerciseReps">
		</div>
		
		<br>

		<div>
			<input type="submit" value="EGZERSİZ EKLE">
		</div>
	</form>
</div>