<div class="row">
    <div class="col-auto col-mb-4">
        <div class="card">
            <div class="card-body">
                <a href="/monday" class="card-link">PAZARTESİ</a>
            </div>
        </div>
    </div>
    <div class="col-auto col-mb-4">
        <div class="card">
            <div class="card-body">
                <a href="/tuesday" class="card-link">SALI</a>
            </div>
        </div>
    </div>
    <div class="col-auto col-mb-4">
        <div class="card">
            <div class="card-body">
                <a href="/wednesday" class="card-link">ÇARŞAMBA</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-auto col-mb-4">
        <div class="card">
            <div class="card-body">
                <a href="/thursday" class="card-link">PERŞEMBE</a>
            </div>
        </div>
    </div>
    <div class="col-auto col-mb-4">
        <div class="card">
            <div class="card-body">
                <a href="/friday" class="card-link">CUMA</a>
            </div>
        </div>
    </div>
    <div class="col-auto col-mb-4">
        <div class="card">
            <div class="card-body">
                <a href="/saturday" class="card-link">CUMARTESİ</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-auto col-mb-4">
        <div class="card">
            <div class="card-body">
                <a href="/sunday" class="card-link">PAZAR</a>
            </div>
        </div>
    </div>
</div>
    <footer>
        Footer Content
    </footer>